body {
    background-color: #fff2f9;
}


/* Mood Buttons Styling for index.html */
.mood-buttons {
    text-align: center
}

nav {
    font-size: 25px;
}

.m{
    font-family: 'Sansita Swashed', cursive;
    color: red;
}
.o{
    font-family: 'Sansita Swashed', cursive;
    color: blue;
}
.o2{
    font-family: 'Sansita Swashed', cursive;
    color: green;
}
.d{
    font-family: 'Sansita Swashed', cursive;
    color: orange;
}
.y{
    font-family: 'Sansita Swashed', cursive;
    color: rgb(209, 192, 255);
}
#Home{
    font-family: 'Caveat', cursive;
    color: black
}
#AboutUs{
    font-family: 'Caveat', cursive;
    color: black
}
#MusicHistory{
    font-family: 'Caveat', cursive;
    color: black
}
#about{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    color: black
}
#welcome{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color: blueviolet;
}
#meet-team{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color: blueviolet;
    font-size: 48px
}
#history-text{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    color: blueviolet;
}
#select-text{
    font-family: 'Josefin Sans', sans-serif;
    color: blueviolet;
    font-size: 50px;
}
#happy{
    font-family: 'Neucha', cursive;
    font-size: 20px;
    width: 300px;
    background-color: rgb(115, 255, 0);
    margin-right: 75px;
    
}
#sad{
    font-family: 'Neucha', cursive;
    font-size: 20px;
    width: 300px;
    background-color: rgb(255, 217, 0);
    margin-right: 75px;
}
#party{
    font-family: 'Neucha', cursive;
    font-size: 20px;
    width: 300px;
    background-color: rgb(0, 247, 255);
    margin-right: 75px;
}
#study{
    font-family: 'Neucha', cursive;
    font-size: 20px;
    width: 300px;
    background-color: rgb(225, 0, 255);
    margin-right: 75px;
}
#nostalgic{
    font-family: 'Neucha', cursive;
    font-size: 20px;
    width: 300px;
    background-color: rgb(255, 94, 0);
    margin-right: 75px;
}
#festive{
    font-family: 'Neucha', cursive;
    font-size: 20px;
    width: 300px;
    background-color: rgb(0, 217, 255);
    margin-right: 75px;
}

#history {
    margin: auto;
    width: 90%;
}

footer {
    text-align: center;
}
